@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #ffffff; /* White background for light mode */
}

/* Dark mode styles */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-color: #888888; /* Gray background for dark mode */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

@keyframes border-animate {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #e5194b;
  }
}

.animated-border {
  animation: border-animate 4s linear infinite;
}
